<launch>

  <arg name="use_rviz" default="false"/>

  <arg name="rvizconfig" default="$(find chrzaszcz)/rviz/remote_operation.rviz" />

  <param name="robot_description"
    command="cat '$(find chrzaszcz_description)/urdf/rover.urdf'" />

  <!-- <node name="controller_to_joint_state_republisher" pkg="chrzaszcz" type="controller_to_robot_state_republisher.py" /> -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" if="$(arg use_rviz)"/>

  <node name="keyboard" pkg="keyboard" type="keyboard" required="true">
    <param name="allow_repeat" value="true"/>
    <param name="repeat_delay" value="15"/>
    <param name="repeat_interval" value="25"/>
  </node>

  <!-- <node name="arm_camera_image_rotater" pkg="image_rotate" type="image_rotate">
    <remap from="image" to="/arm_camera/image_raw"/>
    <remap from="rotated/image" to="/arm_camera/image_rotated"/>
    <param name="target_frame_id" value="third_link"/>
    <param name="target_x" value="0"/>
    <param name="target_y" value="1"/>
    <param name="target_z" value="0"/>
    <param name="source_frame_id" value="arm_camera"/>
    <param name="source_x" value="0"/>
    <param name="source_y" value="1"/>
    <param name="source_z" value="0"/>
    <param name="use_camera_info" value="false"/>
  </node>

  <node name="front_camera_image_rotater" pkg="image_rotate" type="image_rotate">
    <remap from="image" to="/front_camera/image_raw/"/>
    <remap from="rotated/image" to="/front_camera/image_rotated"/>
    <param name="target_x" value="0"/>
    <param name="target_y" value="0"/>
    <param name="target_z" value="1"/>
    <param name="source_x" value="1"/>
    <param name="source_y" value="0"/>
    <param name="source_z" value="0"/>
    <param name="use_camera_info" value="false"/>
  </node> -->

</launch>
